@use '../variables' as *;   

.authFormModel {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1300;
    overflow: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    .authFormModel__container {
        position: relative;

        z-index: 4;
        padding: 3rem;
        width: 40rem;

        background: $white;

        display: flex;
        flex-direction: column;
        border-radius: .5rem;

        .authFormModel__closeBtn {
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
            cursor: pointer;
        }

        .authFormModel__container__welcome {
            margin-bottom: 3rem;
            margin-top: 2rem;
            h2 {
                font-size: 3rem;
                margin-bottom: .5rem;
                font-weight: 700;
                display: flex;
                align-items: center;
                span {
                    margin-left: 2rem;
                    font-size: 2.8rem;
                }
            }
            p {
                font-size: 1.8rem;
                color: $gray;
                font-weight: 500;
            }
        }

        form {
            .authFormModel__formGroup {
                position: relative;
                margin-bottom: 2rem;
                width: 100%;
                label {
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    pointer-events: none;
                    padding: 0 .3rem;
                    background: $white;
                    color: $gray;

                    position: absolute;
                    left: 2rem;
                    top: 1.4rem;

                    z-index: 2;

                    transition: transform 100ms ease;
                    transform: translateY(-20px);
                }
                input {
                    font-size: 1.5rem;
                    color: $black;
                    outline: none;
                    border: .1rem solid $gray;
                    padding: 1rem 2rem;
                    border-radius: .5rem;
                    position: relative;
                }
                &.fullWidth {
                    input {
                        width: 100%;
                    }
                }
            }

            .authFormModel__formGroup input:invalid + label{
                transform: translateY(0);
            }

            .authFormModel__formGroup input:focus {
                border-color: $main_color;
                input + label {
                    color: #2b96f1;
                    transform: translateY(-20px);
                    display: none;
                }
            }

            .authFormModel__submitBtn {
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    background-color: $main_color;
                    box-shadow: $box_shadow_01;
    
                    padding: .8rem 1rem;
                    margin-right: 2rem;
                    border-radius: .6rem;
                    
                    cursor: pointer;
                    transition: all .25s;
                    span {
                        &.text {
                            font-size: 1.6rem;
                            font-weight: 600;
                            color: #fff;
                        }
                        &.icon {
                            margin-right: 0.8rem;
                        }
                    }
                    &:hover {
                        opacity: .8;
                    }
                }
                &.fullWidth {
                    width: 100%;
                    button {
                        width: 100%;
                    }
                }
            }
        }
    }

    .authFormModel__overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.817);
        z-index: 3;
    }
}
