@use '../variables' as *;    

.banner_container {
    width: 100%;
    padding: 5rem 3rem;
    border-radius: .8rem;
    background: $main__gradient;
    box-shadow: $card_shadow_01;
}

.banner_container__title {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    color: $main_color_text;
}

.banner_container__subtitle {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $main_color_text;
    margin-bottom: 2rem;
}

.banner_container__search_box {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    background-color: $white;
    padding: 2rem 0;
    padding-right: 2rem;
    border-radius: .8rem;
}

.banner_container__search_box__input {
    width: 100%;
    color: $black;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 0 2rem;
}
